name: Release


on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install setuptools wheel

      - name: Build package
        run: |
          python -m pip install --editable .
          python setup.py sdist bdist_wheel

      - name: List dist files
        run: ls -la dist/

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/angular_tester-*.whl
            dist/angular_tester-*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
