name: Release


on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Install build tools
        run: pip install setuptools wheel

      - name: Build package
        run: python setup.py sdist bdist_wheel

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
